* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Inter', 'Roboto', sans-serif;
}

body {
    background: rgb(255, 255, 255);
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}
