nav {
    display: flex;
    max-width: 2560px;
    height: 50px;
    background-color: rgba(168, 168, 168, 0.637);
    border-radius: 10px 10px 0px 0px;
    margin: 5px;
    align-items: center;
    gap: 12px;
}

.nav-right {
    flex: 0 0 auto;
    margin-right: 10px;
}

.nav-left {
    flex: 0 0 auto;
    margin-left: 15px;
}

#global-search {
    width: 350px;
    height: 27px;
    border-radius: 9999px;
    padding: 0 10px;
    border: 0px;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
}

#global-search::placeholder {
    color: #888;
    font-size: 14px;
}

a.login {
    margin: 5px;
}

a.login:hover {
    color: rgba(255, 255, 255, 0.822);
}
