@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

:root{
    --height-header-mobile: 60px;
    --height-header-tablet: 85px;
    --main-color: #AB7743;
    --page-color: #fffff4;
    --line-header-color: rgb(220, 184, 83);
    --btn-color: rgba(255, 252, 238, 0.885);
    --nav-color: #D7BDA6;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

/* ===== HEADER ===== */
.header{
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.decoration{
    display: none;
}

.header_top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
}

/* Nav button (mobile) */

.header-menu-btn{
    background-color: white;
    border: 0;
    display: flex;
    justify-content: center;
    width: 20%;
}

.header-menu-btn img{
    display: block;
    width: 30%;
}

/* ===== LOGO  ===== */

.header-brand{
    display: flex;
    justify-content: center;
    width: 50%;
}

.logo{
    width: 80%;
    display: flex;
    justify-content: center;
}

.logo_icon{
    width: 34%;
    height: auto;
}

.logo_text{
    width: 36%;
}


/* Shopping Cart và User Icon */
.header-actions{
    display: flex;
    width: 20%;
}

.cart{
    display: none;
}

.user-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-icon img{
    height: 60%;
}

/* ===== NAV ===== */

.header_nav{
    background-color: var(--nav-color);
    height: calc(70dvh - var(--height-header-mobile));
    width: 70%;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.header_nav.active {
    transform: translateX(0);
}

.feature{
    border-bottom: 0.1px var(--main-color) solid;
    font-size: 12px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) { 
    .header_top{
        height: 90px;
    }
    .logo{
        width: 60%;
    }
}
/* Laptop */
@media (min-width: 1024px) { 
    .header{
        width: 100%;
        height: 190px;
    }

    .decoration{
        display: block;        
        height: 30px;
        background-color: var(--main-color);
    }

    .header_top{
        width: 100%;
        height: 110px;
        justify-content: space-between;
        align-items: center;
    }
    .header-menu-btn{
        display: none;
    }
    /* ===== LOGO  ===== */
    .header-brand{
        width: 30%;
    }
    .logo_icon{
        width: 30%;
    }

    .logo_text{
        width: 45%;
    }
    /* Shopping Cart và User Icon */
    .header-actions{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 30%;
    }
    .cart{
        color: black;
        width: 40%;
        height: 35%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
        background-color: white;
        border: 2px solid var(--main-color);
        border-radius: 50px;
    }
    .cart p{
        text-align: center;
        margin: 0;
        font-size: 17px;
        width: 60%;
    }
    .cart img{
        width: 25%;
    }

    .user-icon{
        width: 20%;
    }

    .user-icon img{
        width: 75%;
    }
    /* ===== NAV ===== */

    .header_nav{
        position: static;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 100%;
        gap: 50px;
        transform: translateX(0);
    }

    .feature{
        border: 0;
        width: 15%;
        font-size: 18px;
        font-weight: bold;
        color: black;
    }

    .feature:nth-last-child(-n+2){
        display: none;
    }

    .feature:hover{
        color: white;
    }
}



/* ===== CONTENT ===== */

.content{
    background-color: var(--page-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CAFE */
.cafe-product{
    background-image:url(/Cafe/background_coffee.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
/* TEA */
.tea-product{
    background-image:url(/Tea/background_tea.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.product{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 10px;
}


.title-product{
    font-size: 20px;
    text-shadow: 3px 3px white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    margin: 0;
    color: var(--main-color);
}

/* ===== SLIDER ===== */

.slider-window{
    display: flex;
    justify-content:space-around;
    width: 65%;
    height: 65%;
    /* scrollbar-width: none; */
    overflow: hidden;
}

.slider-track{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: transform 0.3s ease;
    width: fit-content
}

/* ===== PRODUCT CARD ===== */

.product-card{
    background-image: linear-gradient(0deg, rgba(255, 245, 245, 0.8), rgba(255, 245, 245, 0.8));
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1.5px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.container_images{
    background-color: white;
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
}

.images_product{
    height: 80%;
}

.product-info{
    font-size: 10px;
    height: 23%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-info p{
    margin: 0;
    /* color: var(--main-color); */
}

.product-name{
    text-align: center;
}

.price{
    font-weight: bold;
    text-align: center;
}

/* ===== BUTTON ===== */

.container_btn{
    height: 14%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.order-btn{
    width: 60%;
    height: 100%;
    font-size: 10px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.slider-nav{
    width: 40%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn-slider{
    width: 15%;
    font-family: "SN Pro", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgba(80, 58, 39, 0.795);
    background-color: var(--btn-color);
    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
}
@media(min-width: 768px){
    .btn-slider{
        width: 15%;
    }
    .product{
        height: 420px;
    }
    .product-card{
        height: 95%;
        width: 180px;
    }
}
@media(min-width: 1024px) {
    .product{
        height: 550px;
    }
    .title-product{
        font-size: 30px;
    }
    .slider-window{
        height: 75%;
    }
    .product-card{
        height: 95%;
        width: 260px;
    }
    .product-card:hover{
        transform: scale(1.03);
    }
    .product-name{
        font-size: 20px;
    }

    .price{
        font-size: 20px;
    }
    .order-btn{
        font-size: 15px;
    }
    .btn-slider{
        width: 10%;
        font-size: 30px;
    }
}

/* ===== CONTENT ====== */

