@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

body {
    background-color: #efefef;
}

/* HEADER */
.header {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo h1{
    font-size: 20px;
    font-weight: bold;
}
.logo img{
    height: 40px;
    object-fit: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar{
    margin: 0px 4px;
    position: relative;
}

.search-button{
    background-color: white;
    border: none;
    position: absolute;
    top: 5px;
    left: 20px;
}


.search-input{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 10px 5px 50px;
}
.search-input:focus{
    outline: none;
}

.features-list{
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0px;
    width: 70%;
    max-width: 400px;
    height: 100dvh;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    align-items: center;
}
.features-list.active{
    transform: translateX(0px);
}

.feature {
    margin-left: 20px;
    font-size: 14px;
    color: black;
}



/* .feature:hover {
    color: #aaa;
} */

/* LAYOUT */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* SIDEBAR */
.sidebar {
    width: 180px;
    background: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    height: fit-content;
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 8px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    text-align: center;
    margin-bottom: 8px;
}

.sidebar a {
    font-size: 15px;
    color: black;
    font-weight: 500;
}

.sidebar a:hover {
    color: #555;
}

/* PRODUCTS */
.products {
    flex: 1;
}

.products-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.products h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* GRID */
.product-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr); 
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.product-grid.collapsed{
    max-height: 350px;
}

.product-grid.collapsed .product-card:nth-child(n+3){
    opacity: 0;
    pointer-events: none;
} 


/* CARD */
.product-card {
    font-size: 15px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    min-width: 200px;
    flex: 1;
}

.product-card{
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.container-img img{
    height: 70%;
}

.product-card img {
    background: #ddd; 
    object-fit: cover;
    border-radius: 6px;
}

.product-card h4 {
    margin: 15px 0 10px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card button {
    font-size: 13px;
    background: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.product-card button:hover {
    background: #333;
}

.button-show-pd{
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: black;
}

.footer-page{
    background-color: white;
    padding-bottom: 10px;
}

/* RESPONSIVE */

/* MOBILE MÀN BỰ HƠN */
@media(min-width: 481px){
    .product-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
    .product-card{
        min-width: 200px;
    }
    .container-img{
        height: 200px;
    }

}
/* TABLET */
@media (min-width: 768px) {
    .header{
        padding: 8px 30px;
    }
    .nav{
        justify-content: space-between;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 30px 60px;
    }
    .sidebar{
        margin-top: 0px;
        padding: 15px;
        position: sticky;
        top: 120px;
    }
    .products h2 {
        text-align: start;
        margin-bottom: 20px;
    }


    .product-card{
        min-width: 160px;
        font-size: 18px;
    }
    .container-img{
        height: 200px;
    }

    .container-img img{
        height: auto;
        width: 60%;
    }
    .product-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .product-grid.collapsed .product-card:nth-child(n+3){
        opacity: 1;
        pointer-events: initial;
    }
    .product-grid.collapsed .product-card:nth-child(n+7){
        opacity: 0;
        pointer-events: none;
    }

    .product-grid.collapsed{
        max-height: 850px;
    }

    .sidebar h3 {
        text-align: start;
    }

    .sidebar li {
        text-align: start;
    }

}

/* LAPTOP */
@media (min-width: 1024px) {
    .header {
        padding: 10px 40px;
        flex-direction: row;
        justify-content: space-between;
    }
    .burger-menu{
        display: none;
    }
    
    .search-bar{
        margin-right: 30px;
    }
    .features{
        display: flex;
        gap: 30px;
    }
    .features-list{
        display: flex;
        position: static;
        flex-direction: row;
        background-color: #000;
        gap: 30px;
        height: auto;
        width: auto;
        transform: translateX(0);
    }

    .features-list.active{
        transform: none;
    }

    .feature{
        margin: 0;
        color: white;
    }
    .feature:nth-child(n+4){
        display: none;
    }
    .feature:hover {
        color: #aaa;
    }
    .sidebar{
        padding: 20px;
        top: 80px;
    }
    .product-grid {
        gap: 20px;
        grid-template-columns: repeat(4, 1fr); 
    }
    .product-grid.collapsed .product-card:nth-child(n+7){
        opacity: 1;
        pointer-events: initial;
    }
    .product-grid.collapsed .product-card:nth-child(n+9){
        opacity: 0;
        pointer-events: none;
    }

    .product-grid.collapsed{
        max-height: 1000px;
    }

    .title-product {
        padding-left: 20px;
        padding-bottom: 10px;
        width: 100%;
    }
    .title-product h2{
        margin: 0;
    }
    .product-card{
        min-width: 180px;
    }

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }
    .container-img{
        height: 250px;
    }

    .container-img img{
        width: 60%;
    }


    .sidebar h3 {
        text-align: start;
    }

    .sidebar li {
        text-align: start;
    }

}