* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    width: 94%;
    align-items: center;
    background-color: white;
    padding-inline: 15px;
    border-radius: 9999px;
    margin: 10px 0px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .5);
    background:
        linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.564)),
        rgba(255, 255, 255, .1);
}


/* Nav left */

#nav-left-logo {
    width: 128px;
    border-radius: 5px;
    filter: drop-shadow(0 0 50px rgba(0, 132, 255, 0.9));
    transition: transform 0.5s ease;
}

#nav-left-logo:hover {
    transform: scale(1.1) translateX(12px);
}

/* Nav Center */

.nav-bar {
    display: flex;
    column-gap: 24px;
    border-radius: 9999px;
    flex-wrap: wrap;
}

.nav-bar a {
    position: relative;
    display: flex;
    align-items: center;
    transition: transform .25s ease;
}

.nav-bar > *:hover {
    transform: scale(1.05) translateY(-1px);
}

.nav-bar > *:hover .nav-btn{
    opacity: 1;
    transform: translateX(0);
}

.nav-bar > *::before{
    content: "";
    position: absolute;
    border-radius: 999px;
    height: 30px;
    width: calc(100% + 24px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.728),
        rgb(255, 255, 255)
    );
    filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    opacity: 0;
    border: 2px solid rgba(255, 255, 255, .4);
    transform-origin: center;
    transition: 
        opacity .35s ease, 
        transform .35s ease,
        filter .35s ease;
    z-index: -1;
}

.nav-bar > *:hover::before{
    opacity: 1;
    top: 50%;
    left: 50%;
    filter: drop-shadow(1px 1px 5px rgba(0, 132, 255, 0.9));
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
    z-index: -1;
}

.nav-btn {
    opacity: 0;
    transform: translateX(-6px);
    transition: 0.25s ease;
}

/* Nav right */

.nav-right-elements {
    display: flex;
    gap: 12px;
    width: 152px;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    transition: width .25s ease;
}

.nav-right-elements.expand {
    width: 400px;
}

.nav-right-elements a,button{
    position: relative;
    transition: all .25s ease;
    background: none;
    border: none;
}

.nav-right-elements a:hover, .nav-right-elements button:hover {
    transform: scale(1.1);
}

.nav-right-elements a::before {
    content: "";
    position: absolute;
    border-radius: 999px;
    bottom: -8px;
    left: 50%;
    right: 0;
    width: 80%;
    height: 2px;
    background: black;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: 0.25s ease;
}

.nav-right-elements a:hover::before{
    bottom: -4px;
    transform: translateX(-50%) scaleX(1);
}

.search-wrap {
    position: relative;
    display: inline-flex;;
    gap: 6px;
}

.nav-right-elements form {
}

.nav-right-elements form input{
    position: absolute;
    opacity: 0;
    right: 120%;
    top: 50%;
    transform: translateY(-50%) scale(.7);
    pointer-events: none;
    width: 230px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, .4);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.283);
    transform-origin: right center;
    padding-left: 7px;
    border-radius: 999px;
    transition:
        opacity .25s ease,
        transform .25s ease;
}

#home-search-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) scale(1);
}

#home-search-button img {
    width: 28px;
    filter: drop-shadow(0 0 12px rgba(0, 132, 255, 0.9));
}

#home-search-button {
    transform: rotate(0deg);
    transform-origin: center;
    transition: all 0.6s ease;
}

#home-search-button:hover {
    transform: rotate(-20deg) scale(1.1) translateY(-1px);
}

body {
    background-color: rgb(148, 159, 236);
}

/* Main */

main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
}

/* Home banner */

.home-banner-wrap {
    width: min(97%, 1200px);
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .4);
    box-shadow: 0 20px 40px rgba(0,0,0,.15);
    transform: translate(0, 0);
    will-change: transform;
}


#home-banner {
    position: relative;
    width: 100%;
    display: block;
    border-radius: 20px;
    z-index: 1;
}


/* Grid items */

.grid-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    width: min(97%, 1200px);
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

/* Items in grid */

.grid-items-container>* {
    position: relative;
    border-radius: 20px;
    gap: 10px;
    transition:
        transform .5s ease,
        box-shadow .5s ease;
    box-shadow: 1px 1px 1px 1px;
}

.grid-items-container>*:hover {
    transform: translateY(-4px);
}

.item-wrapper {
    position: relative;
    isolation: isolate;

    background:
        linear-gradient(180deg,
            rgba(255, 255, 255, .35),
            rgba(255, 255, 255, .1)),
        rgba(255, 255, 255, .1);

    backdrop-filter: blur(25px) saturate(140%);
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, .4);

    box-shadow:
        0 20px 60px rgba(0, 0, 0, .25),
        inset 0 1px 0 rgba(255, 255, 255, .5);

    transition:
        transform .35s ease,
        box-shadow .35s ease,
}

.item-wrapper:hover {
    transform: translateY(-4px) scale(1.02);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.item-banner {
    width: 200px;
    height: 230px;
    border-radius: 20px;
    overflow: hidden;
}

.item-banner img {
    width: 100%;
}

.item h3 {}

.price {}

.before-sale {
    text-decoration: line-through;
}

.after-sale {
    color: rgb(247, 12, 12);
}