@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

:root{
    --main-color: rgb(0, 137, 80);
    --background-product-color: rgba(211, 235, 232, 0.564);
    --background-btn-color: rgba(211, 235, 232, 0.564);
}

.header{
    background-color: var(--main-color);
    height: 150px;
    display: flex;
    justify-content: center;
}


.header img{
    width: auto;
    height: 100%;
}

.header_nav{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.product{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    height: 500px;
    width: 100%;
    border: 1px var(--main-color) solid;
}

.title-product{
    margin: 0 0 0 0;
    color: var(--main-color);
    height: 12%;
}

.slider-window{
    display: flex;
    gap: 100px;
    width: 60%;
    height: 65%;
    overflow: hidden;

}

.product-card{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    height: 100%;
    width: 200px;
    border: 1.5px var(--main-color) solid;
    border-radius: 10px;

    overflow: hidden;
}

.container_images{
    background-color: var(--background-product-color);
    height: 60%;
    border-bottom: 1px var(--main-color) solid;
    border-radius: 10px;
}

.images_product{
    width: 100%;
}

.product-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 25%;
}

.product-info p{
    color: var(--main-color);
    margin: 0 0 0 0;
    font-size: 20px;
}

.container_btn{
    display: flex;
    justify-content: center;
    height: 14%;
}

.order-btn{
    color: white;
    background-color: var(--main-color);
    border: 1px var(--main-color) solid;
    border-radius: 10px;
    font-weight: bold;

    width: 70%;
    height: 100%;
}

.slider-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12%;
    height: 10%;
}

.btn{
    background-color: var(--background-btn-color);
    border: 1px  var(--main-color) solid;
    border-radius: 10px;

    font-weight: bold;
    font-size: 15px;
    color: var(--main-color);

    height: 100%;
    width: 100px;
}

