@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

:root{
    --main-color: #AB7743;
    --page-color: #fffff4;
    --line-header-color: rgb(220, 184, 83);
    --btn-color: rgba(255, 252, 238, 0.885);
    --nav-color: #D7BDA6;
}

body{
    padding-top: 180px;
    margin: 0;
}

/* ===== HEADER ===== */

.header{
    /* z-index: 2; */
    position: fixed;
    z-index: 1000;
    top: 0;        
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.decoration{
    height: 30px;
    background-color: var(--main-color);
}

.header_top{
    background-color: white;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left,
.header_right{
    display: flex;
    align-items: center;
    height: 100%;
}

.header_left{ 
    width: 600px; 
}
.header_right{
    width: 300px;
    justify-content: space-around;
}

/* ===== LOGO (GIỮ NGUYÊN) ===== */

.container{
    display: flex;
    align-items: center;
    height: 100%;
}

.container_logo,
.container_text{
    gap: 15px;
}

.Logo,
.Text{
    height: 90%;
}

/* ===== BUTTON / ICON ===== */

.shopping_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50%;
    font-weight: bold;
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 50px;
}

.shopping_cart p{
    margin: 0;
    font-size: 20px;
}

.shopping_cart img{
    width: 25%;
}

.container_user_icon{
    height: 75%;
    display: flex;
    align-items: center;
}

.container_user_icon img{
    height: 70%;
}

/* ===== NAV ===== */

.header_nav{
    background-color: var(--nav-color);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.feature{
    width: 10%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature:hover{
    /* background-color: var(--main-color); */
    color: white;
}

/* ===== HEADER ===== */


/* ===== CONTENT ===== */

.content{
    background-color: var(--page-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

.cafe-product{
    background-image:linear-gradient(0deg, rgba(255, 245, 245, 0.45), rgba(255, 245, 245, 0.45)), url(/Phuc/Cafe/background_coffee.png);
    background-size: 1600px 550px;
    background-position: center top;
    background-repeat: no-repeat;
}

.title-product{
    font-size: 40px;
    text-shadow: 3px 3px white;
    padding-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    margin: 0;
    color: var(--main-color);
}

/* ===== SLIDER ===== */

.slider-window{
    width: 80%;
    height: 70%;
    overflow: hidden;
}

.slider-track{
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: transform 0.3s ease;
}

/* ===== PRODUCT CARD ===== */

.product-card{
    background-image: linear-gradient(0deg, rgba(255, 245, 245, 0.8), rgba(255, 245, 245, 0.8));
    width: 250px;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border: 1.5px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-card:hover{
    transform: scale(1.05);
}

.container_images{
    height: 60%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-color);
}

.images_product{
    height: 100%;
}

.product-info{
    height: 23%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-info p{
    margin: 0;
    /* color: var(--main-color); */
}

.product-name{
    font-size: 20px;
    text-align: center;
}

.price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/* ===== BUTTON ===== */

.container_btn{
    height: 14%;
    display: flex;
    justify-content: center;
}

.order-btn{
    width: 70%;
    height: 100%;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.slider-nav{
    width: 250px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn{
    width: 50px;
    height: 100%;
    font-family: "SN Pro", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(80, 58, 39, 0.795);
    background-color: var(--btn-color);
    border: 1px solid white;
    border-radius: 25px; 
}
/* ===== CONTENT ====== */