@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

:root{
    --main-color: #AB7743;
    --page-color: #fffff4;
    --line-header-color: rgb(220, 184, 83);
    --btn-color: rgba(255, 252, 238, 0.885);
    --nav-color: #D7BDA6;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

/* ===== HEADER ===== */

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    width: 100%;
}

.decoration{
    display: none;
    height: 30px;
    background-color: var(--main-color);
}

.header_top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

/* Nav button (mobile) */

.header-menu-btn{
    background-color: white;
    border: 0;
    display: flex;
    justify-content: center;
    width: 20%;
}

.header-menu-btn img{
    display: block;
    width: 50%;
}

/* ===== LOGO  ===== */

.header-brand{
    display: flex;
    justify-content: center;
    width: 70%;
}

.logo{
    width: 80%;
    display: flex;
    justify-content: center;
}

.logo_icon{
    width: 36%;
}

.logo_text{
    width: 36%;
}


/* Shopping Cart và User Icon */
.header-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.cart{
    display: none;
}

.user-icon{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.user-icon img{
    width: 100%;
}

/* ===== NAV ===== */

.header_nav{
    background-color: var(--nav-color);
    width: 70%;
    /* top: 75px; */
    height: 100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.header_nav.active {
  transform: translateX(0);
}

.feature{
    height: 15%;
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tablet */
@media (min-width: 768px) { 
    .header{
        height: 85px;
    }

    .header-menu-btn{
        width: 15%;
    }

    .header-menu-btn img{
        display: block;
        width: 40%;
    }

    .header-brand{
        width: 65%;
    }
    .logo{
        width: 55%;
        display: flex;
        justify-content: center;
    }

    .logo_icon{
        width: 40%;
    }

    .logo_text{
        width: 40%;
    }


    .header-actions{
        width: 20%;
    }

    .user-icon{
        width: 30%;
    }
}

/* Laptop */
@media (min-width: 1024px) { 
    .header{
        position: sticky;
        z-index: 1000;
        top: 0;        
        width: 100%;
        height: 180px;
        display: flex;
        flex-direction: column;
    }

    .decoration{
        display: block;
    }

    .header-menu-btn{
        display: none;
    }

    .header_top{
        background-color: white;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ===== LOGO  ===== */
    .header-brand{
        display: flex;
        align-items: center;
        width: 25%;
    }
    .logo_icon{
        width: 35%;
    }

    .logo_text{
        width: 35%;
    }

    .header-actions{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    /* Shopping Cart và User Icon */
    .cart{
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
        background-color: white;
        border: 2px solid var(--main-color);
        border-radius: 50px;
    }

    .cart p{
        margin: 0;
        font-size: 20px;
        width: 60%;
    }

    .cart img{
        width: 25%;
    }

    .user-icon{
        width: 20%;
        display: flex;
        justify-content: space-around;
    }

    .user-icon img{
        width: 80%;
    }
    /* ===== NAV ===== */

    .header_nav{
        background-color: var(--nav-color);
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: static;
        gap: 50px;
        transform: translateX(0);
    }

    .feature{
        width: 15%;
        height: 100%;
        font-size: 18px;
        font-weight: bold;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .feature:nth-last-child(-n+2){
        display: none;
    }

    .feature:hover{
        color: white;
    }

}
/* ===== HEADER ===== */


/* ===== CONTENT ===== */

.content{
    background-color: var(--page-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

.cafe{
    background-image:linear-gradient(0deg, rgba(255, 245, 245, 0.45), rgba(255, 245, 245, 0.45)), url(/Phuc/Cafe/background_coffee.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.title-product{
    font-size: 20px;
    text-shadow: 3px 3px white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    margin: 0;
    color: var(--main-color);
}

/* ===== SLIDER ===== */

.slider-window{
    display: flex;
    justify-content:space-around;
    width: 80%;
    height: 60%;
    overflow: hidden;
}

.slider-track{
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: transform 0.3s ease;
    width: fit-content
}

/* ===== PRODUCT CARD ===== */

.product-card{
    background-image: linear-gradient(0deg, rgba(255, 245, 245, 0.8), rgba(255, 245, 245, 0.8));
    width: 200px;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border: 1.5px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}


.product-card:hover{
    transform: scale(1.05);
}

.container_images{
    background-color: white;
    height: 60%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--main-color);
}

.images_product{
    height: 100%;
}

.product-info{
    height: 23%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-info p{
    margin: 0;
    /* color: var(--main-color); */
}

.product-name{
    font-size: 12px;
    text-align: center;
}

.price{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/* ===== BUTTON ===== */

.container_btn{
    height: 14%;
    display: flex;
    justify-content: center;
}

.order-btn{
    width: 70%;
    height: 100%;
    font-weight: bold;
    font-size: 10px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.slider-nav{
    width: 250px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn{
    width: 20%;
    font-family: "SN Pro", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(80, 58, 39, 0.795);
    background-color: var(--btn-color);
    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
}

@media(min-width: 1024px){
    .product{
        height: 500px;
    }
    .title-product{
        font-size: 30px;
    }
    .slider-window{
        height: 75%;
    }
    .product-card{
        width: 250px;
    }
    .product-name{
        font-size: 20px;
    }

    .price{
        font-size: 20px;
    }
    .order-btn{
        font-size: 15px;
    }
}

@media(min-width: 768){

}
/* ===== CONTENT ====== */

