.flex{
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-no-wrap{
    flex-wrap: nowrap;
}

.gap-2 {gap: 2px;}
.gap-4 {gap: 4px;}
.gap-8 {gap: 8px;}
.gap-12 {gap: 12px;}
.gap-16 {gap: 16px;}

.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-end { justify-content: flex-end; }

.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-end { align-items: flex-end; }
.items-stretch { align-items: stretch; }

.row-gap{
    row-gap: 12px;
}

.col-gap{
    column-gap: 20px;
}