<nav class="flex-center width-max nav-floatbar-background" id="nav">
    <div id="nav-left"><a href="/index.html"><img src="/assets/Logos/logo.png" alt="Logo" id="nav-logo"></a></div>
    <div id="nav-center">
        <div class="nav-center-element radius-auto">
            <a href="">Home</a>
        </div>
        <div class="nav-center-element radius-auto">
            <a href="">Product</a>
        </div>
        <div class="nav-center-element radius-auto">
            <a href="">Promotion</a>
        </div>
        <div class="nav-center-element radius-auto">
            <a href="">Information</a>
        </div>
    </div>
    <div id="nav-right" class="flex-center gap-16">
        <div id="searchContainer" class="flex-center gap-8">
            <form id="searchForm" action="">
                <input id="searchBox" class="radius-all-sm" type="search">
            </form>
            <button id="searchBtn" type="submit" form="searchForm"><img src="/assets/icons/search.png"
                    alt="searchBtn"></button>
        </div>
        <button id="button-card" class="flyIn hidden"><img id="button-cart_img" src="/assets/icons/shopping-bag.png"
                alt=""></button>
        <div id="login-container" class="flex-center gap-12">
            <a class="relative" href="" id="login">Login</a>
            <a class="relative" href="" id="register">Register</a>
        </div>
        <div id="avatar" class="flyIn hidden">
            <div id="avatar-wrapper">
                <a href="/pages/Account/account.html"><img src="/assets/Avatar/avatar.png" alt="Avatar"></a>
            </div>
        </div>
    </div>
</nav>