.iconcart-empty {
    display: inline-block;
    height: 270px;
    width: 432px;
    background-image: url(//cdn.tgdd.vn/mwgcart/v2/vue-pro/img/empty-cart.ae23b44ce2f9810f55c8598df.png);
    background-size: 432px 270px;
    background-repeat: no-repeat;
    vertical-align: middle;
    line-height: 2rem;
    background-position: center;
}

.btn-backhome {
    margin-top: 15px;
    display: flex;
    width: 80%;
    justify-content: center;
    border-radius: .5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #2A83E9
;
    background-color: #2A83E9
;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.cart-empty {
    margin: 0px auto;
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    gap: 15px;
    padding: .625rem;
    text-align: center;
    max-width: 580px;

   
}

.cart-empty h1 {
    font-size: 2.1rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.cart-empty span {
    font-size: 1.5rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(152 162 179 / var(--tw-text-opacity));
}
.cart-empty .note-help {
    font-size: 1.3rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgb(152 162 179 / var(--tw-text-opacity));
}
   .cart-empty i{
   width: 100%;
}

.btn-backhome:hover {
    background-color: transparent;
    color: #2A83E9;
}

.note-help {
    display: block !important; 
    line-height: 1.8 !important; 
    font-size: 1.1rem; 
    color: #98a2b3;
    text-align: center;
    padding: 10px;
}
.note-help a {
    color: #288ad6;             
    text-decoration: none;       
    font-weight: 600;            
    display: inline-block;      
    white-space: nowrap;         
}

.note-help a:hover {
    text-decoration: underline;  
}

.work-time {
    display: inline-block;
    color: #667085;
    font-size: 0.9em;            
}