/* 
   Màn hình Tablet (Dưới 1024px)
*/
@media (max-width: 1024px) {
    .sidebar {
        display: none; 
    }
    .nav {
        display: flex; gap: 1.5rem; 
    }
    .name-user { 
        max-width: 150px; 
    }
    .price {
         font-size: 1.6rem; 
        }
    .top-header {
         justify-content: space-around; 
        }
}

/*
   Màn hình Mobile Lớn (Dưới 768px)
*/
@media (max-width: 768px) {
    .payload .detail-row.total {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2px;
        padding: 0rem;
        font-weight: 700;
        color: var(--text-dark);
        border-top: 1px dashed var(--border-color);
    }

    .detail-row {
        justify-content: space-between;
        margin: 8px 0;
        font-size: 1.4rem;
    }

    .search-bar, .page-header, #total {
         display: none; 
        }

    .coupon-section, .app-container, .payload {
         padding-bottom: 0; 
    }

    .payload {
        position: sticky;
        bottom: 5px;
        border-radius: 0;
    }

    .cart-item img {
        width: 100%;
        height: 120px;
    }

    .content {
         display: block; border-radius: 0; 
        }

    .cart-list {
        height: calc(100vh - 273px) !important; 
    }

    .mobile-menu-btn {
         display: block; 
    }

    .nav-container {
        position: fixed;
        top: 0;
        left: -100%;
        width: 200px;
        height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 80px 20px;
        gap: 2.5rem;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease-all;
        z-index: 1000;
    }

    .nav-container.active { left: 0; }

    .nav-link {
        text-decoration: none;
        color: #333;
        font-weight: 600;
        font-size: 1.8rem;
        border-bottom: 1px solid #eee;
    }

    .header-user {
         order: 3; 
    }
    .top-header {
         justify-content: space-between; 
    }

    #total-price-new {
        color: red;
        font-size: 2rem;
        font-weight: 500;
        text-align: center; /* Đưa về giữa cho mobile */
    }

    .summary-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .coupon-msg {
         display: none; 
    }

    .save {
        display: inline-block;
        color: red;
        font-weight: 500;
    }

    .btn-primary {
        width: 160px;
        font-size: 2rem;
        padding: 12px 5px;
    }

    .container-item h4 {
         font-size: 1.6rem; 
    }
    .price {
         font-size: 1.3rem; 
    }
}

/* 
   Màn hình Mobile Nhỏ (Dưới 550px)
*/
@media (max-width: 550px) {
    #total-price-new { 
        font-size: 1.7rem; 
    }

    .cart-item img { 
        height: 100px; 
    }

    .save {
        font-size: 1.1rem; 
    }

    .payload .detail-row.total {
        font-size: 1.5rem;
        row-gap: 5px;
    }

    .btn-primary {
        width: 120px;
        font-size: 1.2rem;
    }

    .cart-list {
        height: calc(100vh - 270px) !important; 
    }

    .iconcart-empty {
        max-width: 280px;
        height: 175px;
    }

    .qty-control { height: 3rem; }

    .qty-control button {
        padding: 0; 
        font-size: 1rem;
    }

    .qty-control input {
         width: 1rem!important; 
        }
    .container-item {
         padding: 0.2rem; 
        }
    .price {
    font-size: 1.1rem;
}
.btn-delete {
    font-size: 1.2rem!important;
}
.payload .detail-row.total {
        justify-content: flex-start;
        padding-top: 0rem;
        gap: 2px;
    }
}