html {
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
body {
   
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    line-height: normal;
}

a{
   text-decoration: none;
}

.grid{
   display: grid;
}


.flex{
   display: flex;
}

.gap-10{
   gap: 10px;
}
.gap-20{
   gap: 20px;
}
.relative{
   position: relative;
}

/* ========Container======= */
.container{
   width: 850px;
   height: 550px;
   background: #fff;
   border-radius: 30px;
   box-shadow: 0 0 30px rgba(0, 0, 0, .2);
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   
}
.flex-colum{
   display: flex;
   flex-direction: column;
}

.bold{
   font-weight: bold;
}
.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
}
/* ==========form-login========= */
.container-form{
   order: 2;
}
.form {   
   width: 90%;
   align-items: center;
   justify-content: center;

}

h1.title {
    font-size: 36px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.737);
    font-weight: 700;
}
.input-user , .input-password{
   width: 100%;
}
.input-user input, .input-password input {
   width: 100%;
   padding: 13px 50px 13px 20px;
    background-color: #d1d4de4d;
    border-radius: 13px;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-user i, .input-password i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #333;
}

.a-forgot{
   color: black;
   font-weight: 500;
}

/* =====btn===== */
.form .btn-login{
    width: 100%;
    padding: 10px;
    background-color: #1d4ff5cf;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: 600;
}

.btn-login:hover, .btn-register:hover {
    cursor: pointer;
    background-color: #1d4ff5;
    box-shadow: 0 0 20px rgba(29, 79, 245, 0.6);
    transform: translateY(-2px);
}

/* ===forgot=== */
.forgot-password:hover{
   text-shadow: 0.5px 0 0 currentColor;
}
/* ====platform-login===== */

.platform-login .item{
   border: 1px solid rgba(0, 0, 0, 0.171);
   padding: 7px;
   border-radius: 4px;
   color: black;
   
}

.platform-login .item:hover{
   cursor: pointer;
   background-color: #e6e6e6;
    box-shadow: 0 0 20px rgba(145, 145, 145, 0.6);
    transform: translateY(-2px);
}



/* ==panel=== */
.container-panel{
   order: 1;
   overflow: hidden;
   border-radius: 25px;
}
.container-panel img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: 50% 50%;


}
.container-panel img {
    /* ... các thuộc tính trên ... */
     transform: scale(0.95); 
    border-radius: 25px;
    transition: transform 0.5s ease; /* Tạo hiệu ứng mượt mà */
}

.container-panel:hover img {
    transform: scale(0.98); 
}


