@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    line-height: normal;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: bold;
    line-height: 1.2;
}

.forgot-password {
    margin-top: 10px;
}

.a-forgot {
    color: black;
    padding: 10px;
}

.a-forgot:hover {
    text-shadow: 0.5px 0 0 currentColor;
}

.container {
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.container-form {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: .6s ease-in-out;
}

.container.active .container-form {
    right: 50%;
}

.form {
    position: absolute;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .6s ease-in-out;
}

.form-login {
    opacity: 1;
    z-index: 2;
}

.container.active .form-login {
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
}

.form-register {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

.container.active .form-register {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

h1.title {
    font-size: 36px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.737);
    font-weight: 700;
}

.container p {
    font-size: 1.8rem;
    margin: 13px 0;
}

.input-user, .input-password {
    position: relative;
    width: 100%;
}

.input-user input, .input-password input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background-color: #d1d4de4d;
    border-radius: 13px;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-password {
    margin-top: 20px;
}

.input-user i, .input-password i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #333;
}

.form .btn-login, .btn-register {
    width: 100%;
    padding: 10px;
    background-color: #1d4ff5cf;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    font-weight: 600;
}

.btn-login:hover, .btn-register:hover {
    cursor: pointer;
    background-color: #1d4ff5;
    box-shadow: 0 0 20px rgba(29, 79, 245, 0.6);
    transform: translateY(-2px);
}

.btn-transfer-register, .btn-transfer-login {
    background-color: #00ca549a;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 0 25px rgba(136, 239, 155, 0.9);
}

.btn-transfer-register:hover, .btn-transfer-login:hover {
    background-color: #ffffff;
    color: rgb(0, 137, 80);
    transform: translateY(-2px);
    font-weight: 800;
    box-shadow: 0 0 25px rgba(20, 199, 70, 0.9);
    filter: brightness(1.2);
}

.platform-item {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.background-panel {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.background-panel::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background-color: rgb(0, 137, 80);
    border-radius: 220px;
    transition: 1.7s ease-in-out;
    z-index: 2;
}

.container.active .background-panel::before {
    left: 50%;
    transition: 0.7s ease-in-out;
}

.toggle-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: white;
    transition: 1s ease-in-out;
    pointer-events: all;
    text-align: center;
}

.panel-left {
    position: absolute;
    left: 0;
    transition: 1.2s ease-in-out;
}

.container.active .panel-left {
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
}

.panel-right {
    right: -100%;
    position: absolute;
}

.toggle-panel.panel-right {
    pointer-events: none;
}

.container.active .panel-right {
    transform: translateX(0%);
    right: 0;
    transition: 1s ease-in-out;
    pointer-events: all;
}

.toggle-panel h1 {
    padding: 0 10px;
    font-size: 30px;
}

input::-ms-reveal, input::-ms-clear {
    display: none;
}

input::-webkit-contacts-auto-fill-button, 
input::-webkit-credentials-auto-fill-button {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
}

@media screen and (max-width: 650px) {
    .container {
        width: 100vh;
        height: 95vh;
        margin: 10px;
    }
    .background-panel {
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .container-form {
        left: 0;
        margin: 0 auto;
        width: 95%;
        position: absolute;
    }
    .form {
        bottom: 0%;
        width: 100%;
        height: 70%;
    }
    .container:not(.active) .background-panel::before {
        left: 0;
        top: -70%;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 20vw;
        pointer-events: none;
        transition: 1s ease-in-out;
    }
    @keyframes bounceMobile {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10%); }
        100% { transform: translateY(0); }
    }
    .container.active .background-panel::before {
        left: 0 !important;
        top: -70%;
        width: 100%;
        border-radius: 120px;
        animation: bounceMobile 1s ease-in-out forwards;
        pointer-events: none;
    }
    .toggle-panel {
        height: 30%;
        width: 100%;
    }
    .panel-left {
        width: 100%;
        top: 0%;
    }
    .container.active .panel-left {
        top: -100%;
        left: 0;
        transition: 1s;
    }
    .panel-right {
        top: -100%;
        left: 0;
    }
    .container.active .panel-right {
        top: 0;
        right: 0;
        transition: 1.2s ease-in-out;
    }
    .container.active .form-register {
        margin-left: 20px;
    }
}