a{
   text-decoration: none;
   font-size: 1.7rem;
}

.grid{
   display: grid;
}

.flex{
   display: flex;
}

.gap-10{
   gap: 1rem;
}
.gap-20{
   gap: 2rem;
}
.relative{
   position: relative;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

.flex-colum{
   display: flex;
   flex-direction: column;
}


.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
}
.bold{
   font-weight: bold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}