main{
    width: 600px;
    height: 600px;
    margin: 120px auto auto auto;
    border-radius: 20px;
    background-color: rgba(168, 168, 168, 0.637);
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.title {
    text-decoration: overline;
    font-size: 35px;
    text-align: center;
    
}

.login-form {
    width: 320px;
}

.login-form input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px;
    box-shadow: 2px 3px 0px 0px rgb(139, 138, 138);
    margin-bottom: 10px;
    padding: 0px 10px;
}

.login-form label {
    padding-left: 3px;
    padding-bottom: 1px;
}

.login-submit-btn {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7f8999;
    color: white;
    cursor: pointer;
    box-shadow: 2px 3px 0px 0px rgb(139, 138, 138);
    margin-bottom: 10px;
}

.login-submit-btn:hover {
    background-color: black;
    transform: translateY(-2px);
    border-radius: 6px;
}

.login-submit-btn:active {
    transform: translateY(2px);
    box-shadow: 0 1px 0 rgb(139, 138, 138);
}

.signin {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.signin a {
    color: #278ad6;
    padding-left: 7px;
    padding-right: 7px;
}
