
.container{
   width: 100rem;
   margin: 0 1.5rem;
   height: 55rem;
   background: #fff;
   border-radius: 3rem;
   box-shadow: 0 0 3rem rgba(0, 0, 0, .2);
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   transition: transform 0.5s ease;
}
.container:hover{
   transform: translateY(-0.3rem); 
    /* Tăng độ đậm của bóng đổ khi nhích lên để tạo cảm giác thực tế */
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
}
.flex-collum{
   display: flex;
   flex-direction: column;
}

.bold{
   font-weight: bold;
}
.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-form{
   order: 2;
}
.form {   
   width: 85%;
   align-items: center;
   justify-content: center;
}

h1.title {
    font-size: 5.5rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.737);
    font-weight: 700;
    padding: 0 auto;
}
h2.title {
    font-size: 3.6rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.737);
    font-weight: 700;
}
.container-panel .content{
   line-height: 2rem;
   font-size: 1.8rem;
}
.input-user , .input-password , .input-email{
   width: 100%;
}

/* .input-user input, .input-password input , .input-email input {
    width: 100%;
    padding: 1.3rem 5rem 1.3rem 2rem;
    background-color: #d1d4de4d;
    border-radius: 1.3rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
} */
.input input{
   width: 100%;
   width: 100%;
    padding: 1.3rem 5rem 1.3rem 2rem;
    background-color: #d1d4de4d;
    border-radius: 1.3rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.input i {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #000000cc;
}
.input i::after {
    content: "";
    position: absolute;
    top: -0.7rem;
    bottom: -0.7rem;
    left: -1.5rem;
    right: -1.5rem;
}

.a-hasPasswd{
   color: black;
   font-weight: 500;
   padding: 5px;
}

.a-hasPasswd:hover{
   text-shadow: 0.05rem 0 0 currentColor;
}

.platform-register .item{
   border: 0.1rem solid rgba(0, 0, 0, 0.171);
   padding: 0.7rem;
   border-radius: 0.4rem;
   color: black;
}

.platform-register .item:hover{
   cursor: pointer;
   background-color: #e6e6e6;
   box-shadow: 0 0 2rem rgba(145, 145, 145, 0.6);
   transform: translateY(-0.2rem);
}

.container-panel{
   order: 1;
   overflow: hidden;
   border-radius: 3rem 0 0 3rem;
   padding: clamp(1.5rem , 5vw , 5rem);
   text-align: center;
  background: linear-gradient(
      to right,
      rgba(0, 183, 255, 0.4) 0%, 
      rgba(44, 150, 158, 0.1) 70%,
      transparent 90%
    );
}




@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; 
        height: auto; 
        padding: 4rem 0; 
        width: 95%; 
          
      background: linear-gradient(
      to left,
      rgb(255, 255, 255) 50%, 
      rgb(200, 251, 255) 100%,
      transparent 90%
    );
    }

    .container-panel {
        display: none;
    }

    .container-form {
        width: 100%;
        
        
    }

   .form {
        width: 90%;
        
    }
}


    
