@keyframes SearchBtnHoverIn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-15deg);
    }
}

@keyframes SearchBtnHoverOut {
    from {
        transform: rotate(-15deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes shake {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.05) rotate(8deg);
    }
    50% {
        transform: scale(1.05) rotate(-8deg);
    }
    75% {
        transform: scale(1.05) rotate(6deg);
    }
    100% {
        transform: scale(1.1) rotate(0deg);
    }
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(40px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

.flyIn {
    animation: flyIn .5s;
}

/* Dạng tim đập nhẹ */

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.12); }
    100% { transform: scale(1); }
}

.pulse {
    animation: pulse 1.5s infinite;
}